/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --bg-purple: #1F1F33;
    --orange: #F89753;
    --grey: #1e1e1e;
    --background-black: #121212;
    --ion-color-primary: var(--orange);
}

button {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0)
}

button:hover {
    background-color: rgba(255, 255, 255, 0.103);
}

ion-col {
    padding: 0;
}

.v-flex-list {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.flexbox {
    display: flex;
}

.fillv {
    height: 100%
}

.fillh {
    width: 100%
}