.v-flex-list {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.align-center {
    align-items: center;
}

.fillv {
    height: 100%
}